.github
.vscode
.vscode-test
fixtures
lib
node_modules
scripts
test
test_js

docs/**
!docs/icon-256.png
lib_js/*.map

.prettier*
*.md
!CHANGELOG.md

.gitignore
.vscode-test.js
ci_verify.sh
esbuild.js
tsconfig.json
tsconfig.test.json
