.github
.vscode
.vscode-test
fixtures
lib
node_modules
scripts
test
test_js

docs/**
!docs/icon-256.png
lib_js/*.map

.prettier*
*.md
!CHANGELOG.md

.gitignore
ci_verify.sh
esbuild.js
pnpm-lock.yaml
tsconfig.json
